<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Tizza</title>
        {% block css %}{% endblock %}
    </head>
    {% block header %}
        <header>
            Tizza
        </header>
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
        <footer>
            Obrigado por utilizar o tizza.
        </footer>
    {% endblock footer %}

    {% block javascript %}
    {% endblock javascript %}
</html>
